
# Created by https://www.gitignore.io/api/swiftpm
# Edit at https://www.gitignore.io/?templates=swiftpm

### SwiftPM ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj


# End of https://www.gitignore.io/api/swiftpm

.DS_Store
